{{> layout-cortex-pre }}
<div class="center">
  <h1>Entries (example 100)</h1>
  <br>
  <div class="row">

    <table id="corpus-report" class="table">
    <thead>
      <tr>
        <th class="left">Entry</th>
        <th class="left">Source</th>
        <th class="left">Result</th>
        <th class="left">Preview</th>
        <th class="left">Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each entries}}
      <tr class="{{../global.highlight}} corpus-report-task-list">
        <td class="left">{{this.entry_name}}</td>
        <td class="left task-source">
          <a class="entry-submit" data-action="download" href="/entry/{{../global.inputconverter_uri}}/{{this.entry_taskid}}">{{../global.inputformat}}</a>
        </td>
        <td class="left task-result">
          <a class="entry-submit" data-action="download" href="/entry/{{../global.service_name_uri}}/{{this.entry_taskid}}">{{../global.outputformat}}</a>
        </td>
        <td class="left task-preview">
          <a class="entry-submit" data-action="preview" href="/entry/{{../global.service_name_uri}}/{{this.entry_taskid}}">preview</a>
        </td>
        <td class="left">{{this.details}}</td>
      </tr>
      {{/each}}
    </tbody>
    </table>
  {{> cortex-report-entry-view }}
  </div>
</div>
{{> layout-cortex-post }}