{{> layout-cortex-pre }}
<div class="center">
  {{#with global}}
  <h1>Services for {{corpus_name}}</h1>
  {{/with}}
  <br>
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <table id="service-report" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each services}}
    <tr>
      <td class="left"><a href="/corpus/{{../global.corpus_name_uri}}/{{this.name_uri}}">{{this.name}}</a></td>
      <td class="left">converter</td>
      <td class="left">{{this.inputformat}}</td>
      <td class="left">{{this.outputformat}}</td>
      <td class="left">{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  </div>
  <div class="col-md-4"></div>
</div>
{{> layout-cortex-post }}