{{> layout-cortex-pre }}
<div class="center">
  {{#with global}}
  <h1>Services for {{corpus_name}}</h1>
  {{/with}}
  <br>
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <table id="service-report" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#with global}}
    {{#with services}}
    <tr>
      <td class="left"><a href="/corpus/{{corpus_name_uri}}/{{name_uri}}">{{name}}</a></td>
      <td class="left">converter</td>
      <td class="left">{{inputformat}}</td>
      <td class="left">{{outputformat}}</td>
      <td class="left">{{status}}</td>
    </tr>
    {{/with}}
    {{/with}}
  </tbody>
  </table>
  </div>
  <div class="col-md-4"></div>
</div>
{{> layout-cortex-post }}